<div style=" display: flex; gap: 15px; margin: 15px 25px 25px 25px">
  <button id="filter-button" style="background-color: white; color: black">All</button>
  <button id="filter-button">Songs</button>
  <button id="filter-button">Albums</button>
  <button id="filter-button">Artists</button>
  <button id="filter-button">Audiobooks</button>
  <button id="filter-button">Playlists</button>
  <button id="filter-button">Podcasts & Shows</button>
  <button id="filter-button">Profiles</button>
</div>