<div style="display: flex; flex-direction: column; gap: 10px;   padding: 20px; border-radius: 10px; width: 190px; background: linear-gradient(to right bottom, rgb(27, 27, 27), rgb(53, 53, 53)); ">
  <div style="height: 150px; width:150px; border-radius: 5px; background-image: url('../../public/images/<%= picture %>'); background-position: center; background-repeat: no-repeat; background-size: cover;">

  </div>
  <h4 style="color: white; padding-top: 10px;"><%= title %></h4>
  <p style="color: gray"><%= artist %></p>
</div>