#song1 {
  background-image: url("./public/images/1.jpg");
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

#login-form {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input {
  padding: 15px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 10px;
}

.fa-spotify {
  scale: 3;
}

.fa-facebook {
  scale: 2;
}

.fa-apple {
  scale: 2;
  color: white;
}

.fa-google {
  scale: 2;
}

#header {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

#button-div {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

button {
  width: 100%;
  padding: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

#container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#apple {
  background-color: black;
  color: white;
}

#facebook {
  background-color: blue;
  color: white;
}

#google {
  background-color: white;
  border: solid 1px gray;
  color: gray;
}

button[type="submit"] {
  width: 120px;
  background-color: lime;
}

#signup {
  width: 450px;
  background-color: transparent;
  border: solid 1px gray;
  color: gray;
}

p {
  font-weight: bold;
  margin: 0;
}

.fa-square-check {
  color: lime;
}
